#quiz-img {
    max-height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 3px solid black;
    border-radius: 15px;
}

#quiz-title {
    text-align: center;
    font-size: 4em;
}

.question-panel {
    background-color: lightyellow
}

.answer-button {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
    border-radius: 5px;
}

.answer-button:hover {
    background-color: darkgreen;
}

.answer-button.correct {
    background-color: limegreen;
    cursor: default;
    box-shadow: none;
}

.answer-button.wrong {
    background-color: red;
    cursor: default;
    box-shadow: none;
}

#answerRow div {
    margin-top: 20px;
}

@media only screen and (min-width: 993px){
    #answerRow div:nth-child(-n+3) {
        margin-top: inherit;
    }
}

@media only screen and (min-width: 601px){
    #answerRow div:nth-child(-n+2) {
        margin-top: inherit;
    }
}

#answerRow div:nth-child(-n+1) {
    margin-top: inherit;
}

