#quiz-img {
    max-height: 700px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    border: 3px solid black;
    border-radius: 15px;
}

#quiz-title {
    text-align: center;
    font-size: 4em;
}

.question-panel {
    background-color: lightyellow
}

.answer-button {
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: darkcyan;
    border-radius: 5px;
}

.answer-button:hover {
    background-color: darkgreen;
}