@()

@main("RedditQuiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/index.css")" />

    <div class="row">
        <div class="l8 col offset-l2">
            <div id="welcome-panel" class="card-panel">
                <h1>RedditQuiz</h1>
                <img src="@routes.Assets.at("img/Reddit-alien.png")">
                <p>How well do you know your subreddits? Test your skills!</p>
                <a href="@routes.QuizCtrl.view()" class="waves-effect waves-light btn">Start RedditQuiz</a>
            </div>
        </div>
    </div>

}
