@()

@main("reddit quiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/quiz.css")" />

    <div ng-controller="quizCtrl">
        <div class="row">
            <div class="large-12 column">
                <h1 id="quiz-title">Guess the subreddit!</h1>
            </div>
        </div>

        <div class="row">
            <div class="large-10 medium-12 large-centered column quiz-img-div">
                    <img id="quiz-img" ng-src="{{quiz.imageUrl}}">
            </div>
        </div>
        <div class="row">
            <div class="large-4 medium-4 column" ng-repeat="choice in quiz.choices">
                <a href="#" class="large button answer-button" ng-click="answer(choice.id)">{{choice.name}}</a>
            </div>
        </div>
        <div class="row">
            <a href="#" class="large button answer-button" ng-click="loadNewQuiz()">reload</a>
        </div>

    </div>
}