@()

@main("reddit quiz") {
    <link rel="stylesheet" media="screen" href="@routes.Assets.at("css/quiz.css")" />

    <div ng-controller="quizCtrl">
        <div class="row">
            <div class="s12 col">
                <h1 id="quiz-title">Guess the subreddit!</h1>
            </div>
        </div>

        <div class="row">
            <div class="s12 col quiz-img-div">
                    <img id="quiz-img" ng-src="{{quiz.imageUrl}}">
            </div>
        </div>
        <div id="answerRow" class="row">
            <div class="l4 m6 s12 col" ng-repeat="choice in quiz.choices">
                <a href="#" class="waves-effect waves-light btn-large answer-button"
                   ng-class="{
                   'disabled': hasAnswered && choice.id != answerId && choice.id != userAnswer,
                   'correct': choice.id == answerId,
                   'wrong': choice.id == userAnswer && choice.id != answerId}"
                   ng-click="answer(choice.id)">{{choice.name}}</a>
            </div>
        </div>
        <div class="row">
            <a href="#" class="waves-effect waves-light btn-large answer-button" ng-click="loadNewQuiz()">reload</a>
        </div>

    </div>
}